In [2]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os

In [5]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
#筛选特征值，目标值
x = train_data[["Pclass","Age","Sex"]]
y = train_data["Survived"]
x

     Pclass   Age     Sex
0         3  22.0    male
1         1  38.0  female
2         3  26.0  female
3         1  35.0  female
4         3  35.0    male
..      ...   ...     ...
886       2  27.0    male
887       1  19.0  female
888       3   NaN  female
889       1  26.0    male
890       3  32.0    male

[891 rows x 3 columns]

In [ ]:
train_data = pd.read_csv("/kaggle/input/titanic/train.csv")

#train_data['Name']
#print(train_data.head(1))
features = ["Pclass", "Sex", "Age" ,"SibSp", "Parch", "Fare", "Embarked"]

X = pd.get_dummies(train_data[features])
#print(X.head(1))
# 归一化参数
for (columnName, columnData) in X.iteritems(): 
    X[columnName] = (X[columnName] - X[columnName].min())/(X[columnName].max() - X[columnName].min())

In [ ]:
features2 = ["Survived"]

labels = pd.get_dummies(train_data[features2])
print(labels.head())

接下来进行测试数据的输入？

In [ ]:
test_data = pd.read_csv("/kaggle/input/titanic/test.csv")
featuresT = ["Pclass", "Sex", "Age" ,"SibSp", "Parch", "Fare", "Embarked"]

Y = pd.get_dummies(train_data[featuresT])
#print(X.head(1))
# 归一化参数
for (columnName, columnData) in Y.iteritems(): 
    Y[columnName] = (Y[columnName] - Y[columnName].min())/(Y[columnName].max() - Y[columnName].min())
    
print(Y.head(5))
rr1 = next(Y.iterrows())[1]
print(rr1)
print(Y.shape[0])
#test_data.head()

In [ ]:
# women = train_data.loc[train_data.Sex == 'female']["Survived"]
# rate_women = sum(women)/len(women)

# print("% of women who survived:", rate_women)

In [ ]:


# men = train_data.loc[train_data.Sex == 'male']["Survived"]
# rate_men = sum(men)/len(men)

# print("% of men who survived:", rate_men)

In [ ]:
from sklearn.ensemble import RandomForestClassifier

y = train_data["Survived"]

features = ["Pclass", "Sex", "SibSp", "Parch"]
X = pd.get_dummies(train_data[features])
X_test = pd.get_dummies(test_data[features])

model = RandomForestClassifier(n_estimators=100, max_depth=5, random_state=1)
model.fit(X, y)
predictions = model.predict(X_test)

output = pd.DataFrame({'PassengerId': test_data.PassengerId, 'Survived': predictions})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")